<div class="panel-heading">
  <h2 class="panel-title car-model">
    <%= name %>
  </h2>
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-md-12">
      <img class="illustration" src="images/car.png">
    <div class="col-md-12">
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5>Price</h5>
      <p class="price">
        <%= price %>
      </p>
    </div>
    <div class="col-md-6">
      <h5>Description</h5>
      <p class="description">
        <%= description %>
      </p>
    </div>
  </div>
</div>

<!-- 202734 -->