<div class="panel-heading">
  <h2 class="panel-title car-model">
    <%= name %>
  </h2>
</div>
<div class="panel-body">
  <h5>Price</h5>
  <p class="price">
    <%= price %>
  </p>
  <h5>Description</h5>
  <p class="description">
    <%= description %>
  </p>
</div>