<div class="jumbotron">
  <p class="credit-score-title">Your credit score is</p>
  <h1 class="credit-score-number"><%= score %></h1>
</div>

<div class="row">
  <p class="col-md-9 credit-score-explanation">Credit scores range from 300 (low) to 850 (perfect). Save your credit score. You will use it for an upcoming class activity.</p>
  <p class="col-md-3 continue-button"><a class="onward btn btn-success btn-lg btn-block" role="button">Onward!</a></p>
</div>

<div class="row">
  <div class="col-md-7">
    <h3>What is credit?</h3>
    <p>Credit is borrowed money used to buy goods and services, which must be repaid later. Adults frequently use credit for major purchases, such as cars and houses, because they need these items and don’t have enough cash on hand.</p>
    <p>In order to obtain credit from a lender, applicants must provide a credit history, which includes a credit score. A low credit score, which reflects late payments or abuse of credit in the past, can result in loan denial or very high interest rates. A high credit score, which reflects on-time payments and responsible use of credit, can result in easier access to loans with lower interest rates. Loan interest rates are critical because they determine the total cost of the purchase as well as the monthly payment. </p>
  </div>
  <div class="col-md-5">
    <h3>What makes up your credit score?</h3>
    <ul>
      <li>35% Payment history</li>
      <li>30% Managing your debt</li>
      <li>15% Length of credit history</li>
      <li>10% Diversity of accounts</li>
      <li>10% Number of credit applications</li>
    </ul>
  </div>
</div>