<div class="jumbotron">
  <p>Your credit score is</p>
  <h1><%= score %></h1>
</div>

<div class="row">
  <p class="col-md-9">Credit scores range from 300 (low) to 850 (perfect). Save your credit score. You will use it for an upcoming class activity.</p>
  <p class="col-md-3"><a class="onward btn btn-success btn-lg btn-block" role="button">Onward!</a></p>
</div>