<div class="jumbotron">
  <h1>Oh no!</h1>
  <p class="error-reason">There has been some kind of terrible, terrible error. Your best bet is to just to start over and hope for the best.</p>
</div>

<div class="row">
  <p class="col-md-12"><a class="start-over btn btn-danger btn-lg btn-block" role="button">Start Over</a></p>
</div>