<form class="form" role="form">
  <div class="form-group">
    <label for="first-name-input">First Name</label>
    <input type="text" class="form-control first-name-input" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="student-id-input">Student ID Number</label>
    <input type="text" class="form-control student-id-input" placeholder="Student ID Number">
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="continue btn btn-default btn-lg btn-block" disabled>Looks good, let's begin.</button>
    </div>
    <div class="col-md-6">
    <button type="button" class="clear-data btn btn-danger btn-lg btn-block" disabled>This isn't me. Start over!</button>
    </div>
  </div>
</form>
