
<div class="row">
  <div class="col-md-6">
    <h3>This is my first time here</h3>
    <form class="form" role="form">
      <div class="form-group">
        <label for="first-name-input">First Name</label>
        <input type="text" class="form-control first-name-input" placeholder="First Name" required>
      </div>
      <div class="form-group">
        <label for="student-id-input">Student ID Number</label>
        <input type="text" class="form-control student-id-input" placeholder="Student ID Number" required>
      </div>
      <div class="form-group">
        <label for="teacher-email-input">Your Teacher's Email Address</label>
        <input type="email" class="form-control teacher-email-input" placeholder="something@something.net" required>
      </div>
        <button type="button" class="new-user btn btn-default btn-lg btn-block" disabled>Looks good, let's begin.</button>
    </form>
  </div>
  <div class="col-md-6">
    <h3>I'm returning to pick up where I left off</h3>
    <form class="form row" role="form">
      <div class="form-group col-md-12">
        <input type="text" class="form-control continuation-code" placeholder="123-456" required>
      </div>
    </form>
    <button type="button" class="continue btn btn-default btn-lg btn-block" disabled>Let's continue</button>
	<img class="illustration" src="images/credit-cards.png">
  </div>
</div>