<form class="form" role="form">
  <div class="form-group">
    <label for="first-name-input">First Name</label>
    <input type="text" class="form-control" id="first-name-input" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="student-id-input">Student ID Number</label>
    <input type="text" class="form-control" id="student-id-input" placeholder="Student ID Number">
  </div>
  <button type="button" class="continue btn btn-primary btn-lg btn-block" disabled>Begin</button>
</form>
