<div class="jumbotron">
  <p>You've selected</p>
  <h1 class="car-name">SOME KIND OF CAR!!!</h1>
</div>

<div class="row">
  <p class="col-md-9">On this screen, we're going to talk about how you could have gotten a better deal.</p>
  <p class="col-md-3"><a class="onward btn btn-success btn-lg btn-block" role="button">Onward!</a></p>
</div>