<div class="row">
  <div class="col-md-12">
    <h3>What does my credit score have to do with the amount I have to pay for my car?</h3>
    <p>Credit scores also influence the interest rate an individual can obtain on a loan, if they can obtain a loan. An <strong>interest rate</strong> is the price paid for using someone else's money, expressed as a percentage of the amount borrowed. <strong>Principal</strong> is the original amount of money invested or lent. Adults often borrow money for major purchases, such as cars, boats, education and houses, because it would take too long to save for these purchases, and they would be unable to enjoy the benefits of them for a long period of time.</p>
    <h3>Did you get the best deal?</h3>
    <p>Shoppers with excellent credit were able to get a very low interest rate of <strong>2.5%</strong>. That might not seem like much, but interest compounds over the life of the loan and can really add up over time.</p>
    <p>How much money could you have saved on your car if you had a better interest rate?</p>
  </div>
</div>

<div class="row continuation-button">
  <p class="col-md-12">
    <a class="onward btn btn-success btn-lg btn-block" role="button">Onward!</a>
  </p>
</div>