<div class="row">
  <div class="col-md-12 questions">
  </div>
</div>

<div class="row survey-submission">
  <div class="col-md-12 well">
    <button type="button" class="submit-survey btn btn-default btn-lg btn-block" disabled>Submit Survey</button>
  </div>
</div>