body {
  margin: 40px auto;
}

.question {
  margin-bottom: 4em;
}

.question.has-error legend:after {
  content: " (You must answer this question.)";
  color: #A94448 !important;
}

.current-credit-score .panel-body, .conclusion .panel-body {
  text-align: center;
  font-size: 4rem;
}

tr.loan-information.disabled td {
  color: #999;
  background-color: #EFEFEF;
}
